<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="appHeader">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <a href="/main" class="logo-link">
        <h1>Highlight Automation</h1>
    </a>

    <div class="header-right">
        <a href="/profile" class="profile-link">
            <span id="nicknameText"></span>
        </a>
        <button type="button" id="logoutBtn">로그아웃</button>
    </div>
</header>
</html>
